





        /* HOME SECTION*/

#home{
    background:url(../image/117.jpeg) no-repeat
    center center/cover;
    height: 100vh;
   
}
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .centered-text1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  #icon{
      position: absolute;
      top:80%;
      left: 50%;
      transform: translate(-50%,-50%);
      color:rgb(148, 23, 23);
  }

        /* ABOUT SECTION*/
#about{
    padding: 30px;
    height: 60vh;
    height: 100%;
}
hr.new1{
    height:4px;
    width:40%;
   
    border-top: 1px solid rgb(150, 33, 33);
}
hr .new2{
    height:4px;
    width:60%;
   
    border-top: 1px solid rgb(150, 33, 33);

}
#about-image{
    width:100%;
    height:
    100%;
}

        /* image-section */
#services{
    height: 100%;

}
#service-image{
    width: 200px;
    padding: 15px;
    border-radius: 50%;
}
#service-image1{
    width:150px;
    border-radius: 50%;
}
/*parents*/
#parents{
    height: 100%;
}
/* teachers*/
#teachers{
    background: rgb(189, 187, 187);
    height: 100%;

}

/*company section*/
#company{
    background: rgb(189, 187, 187);
    height: 100%;
}
/* contact section style*/

#contact{
    text-align: center;
    height: 100%;
}
form {
    margin:35px;
}
.input-field {
    width:300px;
    height:40px;
    margin-top:20px;
    padding-left: 10px;
    padding-right:10px;
    border:1px solid #232323;
    border-radius: 14px;
    outline:none;
}
.textare-field{
    height:150px;
    padding-top: 15px;
}
.btn btn-primary{
    border-radius: 20px;
    color:#232323;
    margin-top: 18px;
    background-color: hotpink;
    padding:10px;
    font-size:12px;
    border:none;
}


/*footter*/

/* footer*/
#main-footer {
    background: black;
    color:white;

}
#main-footer img {
    width:60px;
}
#main-footer a {
    color:white;
}
#main-footer .container footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1.5rem;

}
.footer-1 {
    background: rgb(189, 187, 187);
    padding:20px;
    color:black;
}
.fotter-text p{
    text-align: center;
    color:black;
}
.social{
    text-align: center;
}